<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="../../public/css/final.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboardd">Dashboard</a>
    {{#if loggedIn}}
    <button>logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  
</body>
</html>